.nav-menu-invisible{
  display: block;
}

.nav-menu{
  flex-direction: row;
  padding: 0px;
  min-height: 0vh;
}

.nav-toggle{
  display: none;
}


.title {
  font-size: 50px;
}

/* desktop styles for index html */

.display-flex{
  flex-direction: row;
}

/* desktop styles for sobre-ba html */

.short-ba-description-text{
  text-align: center;
}

.cards{
  grid-template-columns: repeat(3, 1fr);
  margin: 1em auto;
}
